<%= render 'layouts/topnav' %>

<h1>Projects</h1>

<div class="proj-tile">
  <h2>Propeller Labs</h2>
  <p>I was contracted to code the redesigned company website for Propeller Labs, a software design studio. I used Ruby on Rails and deployed to Heroku. The entire site was styled with custom CSS (SCSS) and jQuery for simple animations.</p>
  <p>Besides the complex, custom layout, some of the more challenging aspects of the project were connecting to different APIs including Meetup.com, Medium.com, and Instagram to retreive and display upcomming meetups, recent blog articles, and latest Instagram pictures.</p>

  <ul>
    <li>Fully Responsive</li>
    <li>Ruby on Rails</li>
    <li>SCSS</li>
    <li>jQuery</li>
    <li>APIs</li>
    <li>GIT</li>
    <li>Heroku</li>
  </ul>

  <%= image_tag('propeller_home_dt.gif', class: 'img-desktop') %>
  <%= image_tag('propeller_medium_dt.png', class: 'img-desktop') %>
  <%= image_tag('propeller_ig_dt.png', class: 'img-desktop') %>

  <%= image_tag('propeller_instant_mb.png', class: 'img-mobile') %>
  <%= image_tag('propeller_menu_mb.png', class: 'img-mobile') %>
  <%= image_tag('propeller_team_mb.png', class: 'img-mobile') %>
</div>

<div class="proj-tile">
  <h2>Ron Swanson Quote Generator</h2>
</div>

<div class="proj-tile">
  <h2>Weather App</h2>
</div>

<div class="proj-tile">
  <h2>Patchatech</h2>
</div>

<%= render 'layouts/main_footer' %>
