<%= render 'layouts/topnav' %>

<div class="page-wrap">
  <%= form_tag(contacts_path, method: 'post', id: 'contact-form') do %>
    <h1>Get In Touch</h1>
    
    <p class="md-line-space">I'm always looking for opportunities to grow. I'd love to hear from you!</p>

    <div class="input-group">
      <%= label_tag :name, 'Name*' %>
      <%= text_field_tag :name, nil, class: 'contact-input', required: true %>
    </div>

    <div class="input-group">
      <%= label_tag :email, 'Email*' %>
      <%= email_field_tag :email, nil, class: 'contact-input', required: true %>
    </div>

    <div class="input-group">
      <%= label_tag :twitter, '@twitter?' %>
      <%= text_field_tag :twitter, nil, class: 'contact-input' %>
    </div>

    <div class="input-group">
      <%= label_tag :message, "What's on your mind?*" %>
      <%= text_area_tag :message, nil, class: 'contact-input', size: '12x4', required: true %>
    </div>

    <span>* indicates required field</span>

    <%= submit_tag 'Send it!', id: 'send-btn' %>
  <% end %>
</div>

<%= render 'layouts/main_footer' %>
