<!DOCTYPE html>
<html>
  <head>
    <title>Landon Eric West</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="c-<%= controller_name %> a-<%= action_name %>" >
    <%= yield %>
  </body>
</html>
